
/************ work Css ************/

.work {
    margin-top: 100px;
    padding: 0 0 50px 0;
    position: relative;
}


.h-work-bx-container {
  /* box-shadow: 0 0 6px rgba(255, 165, 0, 0.5); Add a subtle glow effect */
  display: flex;
  width: 100%; /* Take up the full width of the container */
  margin-top: -60px;
  right: 0px;
  overflow-x: auto; /* Allow horizontal scrolling if content overflows */
}

.h-work-bx {
  /* Adjust width, padding, and other styles */
  box-shadow: 0 0 6px rgba(255, 165, 0, 0.5); /* Add a subtle glow effect */
  width: 95%; /* Take up the full width of the container */
  max-width: 1600px; /* You can adjust this value as needed */
  background: #151515;
  border-radius: 64px;
  text-align: left;
  padding: 20px 40px;
  margin-left: 10px;
  margin-right: 20px; /* Add some spacing between items */
  margin-top: 20px;
  margin-bottom: 80px;
}

.bold {
  color: orange;
}

.jobs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.work h2 {
  margin-bottom: 70px;
  font-size: 45px;
  font-weight: 700;
}
.work p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}


.work h3{
  margin-top: 30px ;
}

.work button{
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px;
      margin-left: auto;
      letter-spacing: 0.8px;
      display: flex;
      align-items: center;
      border: 1px solid rgb(255, 255, 255);
      padding: 10px 14px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
    }
    .work button::before {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      background-color: #ff671f;
      left: 0;
      top: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }
    .work button:hover {
      color: #fff;
      border-color: #000;
    }
  
    .work button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .work button:hover {
      background-color: #ff671f;
      color: #fff;
      }
  
  .work a{
      color: #fff;
  }
  .work a:hover{
      color: #fff;
  } 
  @media (max-width: 576px){   
    .jobs{
        flex-direction: column;
    }
        
    .work-bx {
      width: 90%;
    }
   }




   
 
   .popup {
    position: fixed;
    top: 8%;
    bottom: auto;
    left: 0;
    right: 20px;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .popup h3{
    color: #ff671f;
  }

 
  .popup-content {
    background-color: #022945;
    /* background-color: #FFFAFA; */
    /* background-color: #F0FFF0; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .popup button {
    background-color: #ff671f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;

    position: absolute;
    bottom: 70px;
    right: 100px;
    color: white;
  
  }


  .nothing{
    background: #000;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px; 
  }
  .card {
    /* background-color: black; */
    background: #000;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px; 
  }

  .card p {
    font-size: 16px;
    line-height: 1.5;
  }

  .popup-content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .popup-content::-webkit-scrollbar-track {
    background: #220000; /* Background color of the track */
    border-radius: 10px;
  }
  
  .popup-content::-webkit-scrollbar-thumb {
    background: #ff671f; /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  